<div class='container'>
	<div class='well text-center col-md-4 col-md-offset-4'>
		<h1>Editing Building</h1>

				<%= render 'form' %>

			<%= link_to 'Back', buildings_path, class: 'CDB_NEW' %>
	</div>
</div>
