<div class='container'>
	<div class='well text-center'>
			<h1>New Picture</h1>

<%= render 'form' %>

	</div>
	<div class="col-xs-2 col-xs-offset-5 well text-center CDB_NEW">
									<%= link_to 'Back', classrooms_path %>
							 </div>
</div>
