/* My Software Catalog Application CSS */

.admin {
	display: none;
	}

div.my-overflow {
	display: block;
    display: -webkit-box;
    /*max-width: 400px;*/
    height: 55px;
    /*margin: 0 auto;
    font-size: 26px;*/
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table {
	/*table-layout: fixed;*/
}

.vcenter {
	position: relative;
	top: 50%;
}

.aTo {
    width: 150px;
}

.aThrough {
    width: 150px;
}

.anchorStyle:hover, .anchorStyle:focus {
    background: transparent;
}

.myadminbutton {
    position: absolute;
    right: 0px;
    padding-bottom: 15px;
}