/* My Software Catalog Application CSS */

.CDB_HEADER {
		text-align: center;
		font-size: 36px;
		font-family: 'tradegothicltstd-boldext', sans-serif;
		background-color: #492365;
		color: white;
		padding: 20px;
		width: 100%;
}

#CDB_Top {
	position: fixed;
	width: 100%;
	top: -1px;
	z-index: 3;
}

#CDB_CONTENT {
	position: static;
	width: 100%;
	margin-top: 200px;
	
}

.CDB_HEADER > a:visited {
	color: white;
}

div .wrapper {
	position:inherit;
	margin-bottom: 100px;
	width: 250px;
	margin-left: 20px;
	margin-right: 15px;
}

div .CDB_TH_NAME {
	position: absolute;
	padding: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: none;
	background-color: black;
	color: white;
	font-size: 30px;
	z-index: 2;
	opacity: .7;
}

div .CDB_NAME {
	position: absolute;
	padding: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #492365;
	color: white;
	font-size: 20px;
	width: 250px;
}

div.CDB_NAME > a {
	color: white;
	font-size: 20px;
}

div .wrapper-content {
	z-index: 3;
	top: 40%
}

div .CDB_LOGIN {
	text-align: center;
	background-color: white;
}

.CDB_INPUT {
	font-size: 20px;
	size: 20;
}

.CDB_NEW {
	font-size: 20px;
	text-align: center;
}

.modal {
	position: absolute;
	left: 10%;
	top: 10%;
	margin-left: -400px;
}

.CDB_ADMIN {
	font-size: 20px;
}

.CDB_SRCH_ICON {
	padding-top: 100px;
}

.CDB_CLASS_CELL {
	padding: 10px;
}

.CDB_CLASS_CELL > a {
	cursor: zoom-in;
	cursor: -webkit-zoom-in;
}

.CDB_CLASS_TABLE {
	margin-left: auto;
	margin-right: auto;
}

.CDB_ADD_BUTTON {
	
}

a:hover .CDB_NO_HOVER {
	color: none;
	background-color: none;
}

#AddButton {
	width: 50px;
	height: 50px;
	opacity: .6;
}

.CDB_BLDG_ROW > td {
				background-color: white;
}

.CDB_BLDG_TH > th {
	background-color: #492365;
	color: white;
	font-size: 20px;
}

.CDB_ADMIN > a a:visited {
	color:white;
	font-size: 20px;
}

#notice {
	color:white;
	font-size: 20px;
}

#CDB_FILTER {
	padding-top: 10px;
	padding-left: 15px;
	background-color: white;
	width: 200px;
	left: -210px;
	height: 500px;
	position: fixed;
	top: 140px;
	float: left;
	min-height: 90%;
	height: auto !important;
	box-shadow: 5px 0px 5px grey;
	z-index: 4;
}

#filterTag {
	background-color: white;
	padding: 12px;
	float: left;
	position: fixed;
	top: 147px;
	z-index: 4;
	border-radius: 3px;
}

table.Tech td {
	padding: 10px;
}

.file_wrapper {
	margin-left:40%;
	margin-right:40%;
}

div.modal-content {
	width: 1054px;
}

div.CDB_TH_NAME {
	width: 250px;
	height: 250px;
}

.navbar {
	position: fixed;
	box-shadow: 10px 0px 5px grey;
}
.lock {
	position: fixed;
}

.container .well {
	box-shadow: 5px 5px 5px grey;
}

.CDB_Shadow {
	box-shadow: 0px 5px 5px grey;
}

.CDB_DESC {
	font-size: 15px;
}

